# https://pre-commit.com/

default_stages: [ pre-commit ]
default_install_hook_types: [ pre-commit ]
default_language_version:
  python: python3.10

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-json
      - id: pretty-format-json
        args: [ --autofix, --indent=4 ]
      - id: check-toml
      - id: check-yaml
      - id: check-xml
      - id: end-of-file-fixer
      - id: check-docstring-first
      - id: trailing-whitespace
        exclude: .md$
      - id: check-added-large-files
      - id: detect-private-key
      - id: name-tests-test
        args:
          - --pytest-test-first

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.0
    hooks:
      - id: check-github-workflows
      - id: check-jsonschema
        name: "Check .pre-commit-config.yml"
        files: ^\.pre-commit-config\.ya?ml$
        types: [ yaml ]
        args: [ "--schemafile", "https://json.schemastore.org/pre-commit-config" ]
      - id: check-jsonschema
        name: "Check .pre-commit-hooks.yml"
        files: ^\.pre-commit-hooks\.ya?ml$
        types: [ yaml ]
        args: [ "--schemafile", "https://json.schemastore.org/pre-commit-hooks" ]

  - repo: https://github.com/ComPWA/taplo-pre-commit # TOML formatter
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/bwhmather/ssort
    rev: 0.16.0
    hooks:
      - id: ssort
        entry: ssort

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies:
          - types-pyyaml

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.21
    hooks:
      - id: uv-lock
      - id: uv-export
        args: [ "--output-file=pylock.toml", "-q" ]
      - id: uv-sync
        args: [ "--all-extras" ]

  - repo: local
    hooks:
      - id: pydantic-settings-export
        name: pydantic-settings-export
        entry: pydantic-settings-export
        language: python
        files: \.py$
        pass_filenames: false
        verbose: true
        additional_dependencies:
          - '.[email,regions,toml]'
