name: Build and Publish

permissions:
  contents: write

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+-*"

jobs:
  call-style:
    uses: ./.github/workflows/style.yml

  call-tests:
    uses: ./.github/workflows/tests.yml

  build:
    runs-on: ubuntu-latest
    needs: [call-style, call-tests]

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Publish to PyPI
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: |
          uv build
          uv publish

      - name: Make release with docset
        uses: softprops/action-gh-release@v1
        with:
          body: |
            This is a release for the ${{ github.ref }} tag.
          draft: false
          prerelease: false
          generate_release_notes: true
          append_body: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
